<div class="answer" data-id="{{id}}">
    <div class="input-group">
        <span class="input-group-addon"><i class="fi-list"></i></span>
        <input type="text" class="form-control live-listener" name="answer_text" value="{{@root.text}}" data-answer-id="{{id}}">
        <span class="input-group-addon">
            <input type="radio" name="correct_answer" class="correct-answer" {{#ifCond id '==' correct_answer_id}}checked="checked"{{/ifCond}}>
        </span>
        <span class="input-group-btn">
            <span class="btn btn-default remove-answer"><i class="fi-trash"></i></span>
        </span>
    </div>
</div>