<div class="properties jumparea">
    <form class="inner">

        {{> TimelineElement }}

        {{> Area }}

        <div class="form-group">
            <label for="p_text">Testo</label>
            <textarea id="p_text" type="text" name="text" class="form-control live-listener">{{ @root.text }}</textarea>
        </div>

        <div class="form-group">
            <label for="p_jump_to_frame">Frame</label>
            <input type="text" id="p_jump_to_frame" name="jump_to_frame" value="{{ jump_to_frame }}" class="form-control change-listener">
        </div>

    </form>
</div>