<div class="properties linkarea">
    <form class="inner">

        {{> TimelineElement }}

        {{> Area }}

        <div class="form-group">
            <label for="p_text">Testo</label>
            <textarea id="p_text" name="text" class="form-control live-listener">{{ @root.text }}</textarea>
        </div>

        <div class="form-group">
            <label for="p_link">Link</label>
            <input id="p_link" type="text" name="link" placeholder="http://" class="form-control change-listener" value="{{link}}">
        </div>

    </form>
</div>