<div class="properties linkarea">
    <form class="inner">

        {{> TimelineElement }}

        {{> Area }}

        <div class="form-group">
            <label for="p_text">Testo</label>
            <textarea id="p_text" name="text" class="form-control live-listener">{{ @root.text }}</textarea>
        </div>

        <div class="form-group">
            <label for="p_url">Link</label>
            <input id="p_url" type="text" name="url" placeholder="http://" class="form-control change-listener" value="{{url}}">
        </div>

    </form>
</div>