<div class="properties textarea">
    <form class="inner">


        <div class="form-group">
            <label for="p_name">Nome</label>
            <textarea id="p_name" name="name">{{ name }}</textarea>
        </div>

    </form>
</div>