<div class="row">

    <input type="hidden" name="id" value="{{id}}">

    <div class="col-sm-6">
        <div class="form-group">
            <label for="p_frame">Frame</label>
            <input type="text" id="p_frame" name="frame" value="{{ frame }}" class="form-control change-listener">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <label for="p_duration">Durata</label>
            <input type="text" id="p_duration" name="duration" value="{{ duration }}" class="form-control change-listener">
        </div>
    </div>

</div>