<div class="properties video">
    <form class="inner">

        {{> TimelineElement }}

        <div class="upload-area">

            <div class="form-group">
                <label for="p_file">File</label>
                <input type="text" name="filename" id="p_filename" class="form-control" readonly disabled value="{{filename}}">
            </div>

            <div class="form-group">
                {{#if filename}}
                    <span class="btn btn-default open-video-browser">Sostituisci video</span>
                    <span class="btn btn-default playpause"><i class="fi-play-video"></i></span>
                {{else}}
                    <span class="btn btn-primary open-video-browser">Aggiungi video</span>
                {{/if}}
            </div>

        </div>

    </form>
</div>