
// toolbar

.infobar{

  padding: 0 $infobar-height/6;
  background: $grey;
  color: $white;
  border-bottom: $black;
  height: $infobar-height;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  z-index: 10;

  .left > * {
    float: left;
  }

  .title-wrap{
    position: relative;
    margin: $infobar-height/6 $infobar-height/2 $infobar-height/6 0;
    width: 250px;
    display: inline-block;

    input[type="text"], select {
      height: $infobar-height/3*2;
      padding: .25em .5em;
      font-size: 1.5em;
    }

    .bt{
      position: absolute;
      right: 12px;
      top: 14px;
      opacity: .6;
      pointer-events: none;
      display: none;
    }

    &:hover .bt{
      display: block;
    }

    // scene wrap

    &.scene-wrap{
      margin-left:0;
      padding-right: 7em;
      margin-right: 1.5em;
      > * {
        display: block;
      }
    }

    select{
      width: 100%;
    }

    .scene-actions{

      position: absolute;
      width: 7em;
      right: 0;
      bottom: 0;
      top: 0;

      .bt{
        top: 6px;
        font-size: 1.5em;
        cursor: pointer;
        pointer-events: all;
      }
      .fi-plus{
        right: 3em;
      }
      .fi-pencil{
        right: 1.5em;
      }
      .fi-trash{
        right: 0;
      }
    }

  }


  .right {
    text-align: right;
    line-height: $infobar-height;
  }

  .movie-save-status{
    display: inline-block;
  }

}
