<!DOCTYPE html>
<html lang="it">
<head>
    <title>Prometeo Player</title>
    <meta name="description" content="Prometeo è una piattaforma di e-learning, scopri nuove video lezioni ogni giorno!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="prometeo-player" data-width="100%" data-id="{{ movie_id }}"></div>
    <script async defer data-main="/js/app-viewer" src="/js/libs/requirejs.min.js"></script>

</body>
</html>
