
@import "video-picker";
@import "preview";

.editor{
  top: $adminbar-height;

  & > .editor-inner{
    height: 100%;
    width: 100%;
    padding-top: $infobar-height; // infobar
    position: relative;
    z-index: 9;

    & > .inner{
      position: relative;
      height: 100%;
      width: 100%;
    }

  }

  // forms
  @import "forms";

  // movie wrapper
  @import "movie";

  // panels
  @import "panels";
  @import "toolbar";
  @import "infobar";
  @import "editbar";
  @import "timeline";
  @import "mediaqueries";
  @import "scene";

}
