
.movie-wrapper {

  width: 100%;
  height: 70%;
  display: block;

  * {
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
  }

  .movie-container {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .movie {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -240px;
    transform-origin: center center;
    transition: all 218ms $swift-out;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.18);

    // aspect ratio 2:1
    width: 960px;
    height: 480px;

    .movie-area{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      > iframe {
        width: 100%;
        height: 100%;
        position: relative;
      }
    }

    .movie-bg{
      width: 100%;
      padding-bottom: 50%;
      //padding-bottom: 66.66%;
      background: #000;
      z-index: 1;
    }

  }

}

.movie-area{

  .area{
    min-width: 10px;
    min-height: 10px;
    position: absolute;
    overflow: hidden;
    font-size: 14px;
    cursor: default;

    &.selected{
      box-shadow: 0 0 5px 1px $highlight;
    }

    .inner{
      width: 100%;
      height: 100%;
      position: relative;
    }

    .ui-resizable-handle{
      opacity: .2;
    }

    &.selected .ui-resizable-handle{
      opacity: 1;
    }

  }

  .va-wrap{
    display: table;
    .va-middle{
      vertical-align: middle;
      display: table-cell;
    }
  }

  // question
  .questionarea {
    font-size: 2em;

    .inner{
      padding: 0 6%;
    }

    .question {
      padding: 5% 0;
    }

    .answers{
      padding: 0 5%;

      > .answer{
        margin-bottom: 1em;
      }
    }

  }


  // video
  .video {

    .placeholder{
      width: 100%;
      height: 100%;
      background: #ccc;
      font-size: 5em;
      text-align: center;
    }

    .player{
      width: 100%;
      height: 100%;
    }

  }

  // textarea
  .textarea,
  .linkarea,
  .jumparea{
    .inner{
      padding: 12px;
    }
    .text{
      text-align: left;
      font-size: 1em;
      line-height: 1.25em;
    }
  }

  // grabbing cursor
  .textarea:active,
  .linkarea:active,
  .jumparea:active,
  .questionarea:active {
    cursor: move;
    cursor: -webkit-grabbing;
  }


}


// video preview
.video-preview{

  img{
    position: relative;
  }


}
