<!-- movie info bar -->
<div class="infobar">
    <div class="row">

        <div class="col-sm-8 left">

            <form action="#" id="movie_form">
                <div class="title-wrap hint--bottom" aria-label="Rinomina">
                    <input type="text" name="movie-name" id="movie_name" placeholder="Filmato senza titolo">
                    <i class="bt fi-pencil"></i>
                </div>
                <div class="title-wrap scene-wrap">
                    <span class="hint--bottom" aria-label="Seleziona scena">
                        <select id="scene_list"></select>
                    </span>
                    <span class="scene-actions">
                        <span class="bt hint--bottom" aria-label="Nuova scena">
                            <i class="fi-plus" id="add_scene"></i>
                        </span>
                        <span class="bt hint--bottom" aria-label="Modifica scena corrente">
                            <i class="fi-pencil" id="edit_scene"></i>
                        </span>
                        <span class="bt hint--bottom" aria-label="Elimina scena corrente">
                            <i class="fi-trash" id="remove_scene"></i>
                        </span>
                    </span>
                </div>

                <div class="movie-save-status" id="movie_save_status"></div>
            </form>

        </div>

        <div class="col-sm-4 right">
            <div class="btn btn-default hint--bottom-left" id="movie_play" aria-label="Riproduci il filmato"><i
                    class="fi-play"></i></div>
            <div class="btn btn-default hint--bottom-left" id="movie_embed"
                 aria-label="Ottieni il codice per la condivisione del filmato"><i class="fi-share"></i></div>
            <div class="btn btn-default hint--bottom-left" id="movie_sync" aria-label="Sincronizza modifiche"><i
                    class="fi-refresh"></i></div>
            <div class="btn btn-default hint--bottom-left" id="movie_publish"></div>
        </div>

    </div>
</div>

<!-- main wrap -->
<div class="editor-inner">

    <div class="inner">

        <!-- toolbar -->
        <aside class="toolbar">
            <ul class="area-list" id="area_list">
                {{#each config.availableAreas}}
                    <li data-type="{{@key}}">
                        <i class="fi-{{@key}}"></i>
                        <span>{{this}}</span>
                    </li>
                {{/each}}
            </ul>
        </aside>

        <!-- video container -->
        <div class="movie-wrapper">

            <div class="movie-container">

                <div class="movie" id="movie">
                    <div id="vrview" class="movie-area"></div>
                    <div class="movie-bg"></div>
                </div>

            </div>

        </div>

        <!-- scene toolbar -->
        <aside class="scene-toolbar" id="scene_panel">
            <div class="panel scene"></div>
        </aside>

        <!-- timeline -->
        <div class="panel timeline">
            <div class="head row">
                <div class="col-xs-6">
                    <i class="fi-graph-horizontal"></i> Timeline
                </div>
                <div class="col-xs-6 text-right">
                    <span class="play_pause"><i class="fi-play"></i></span>
                    <span class="current-frame"></span>
                </div>
            </div>
            <div id="timeline"></div>
        </div>

    </div>

</div>

<!-- editbar - element property -->
<aside class="panel editbar">
    <div class="header">
        <div class="row">
            <div class="col-xs-8">
                <div class="area-title" id="area_title"></div>
            </div>
            <div class="col-xs-4 actions">
                <div class="remove-area hint--bottom-left" aria-label="Rimuovi dal filmato"><i class="fi-trash"></i>
                </div>
                <div class="close-panel hint--bottom-left" aria-label="Chiudi il pannello di modifica"><i
                        class="fi-x"></i></div>
            </div>
        </div>
    </div>
    <div class="properties-wrap"></div>
</aside>