
.prp-movie{
  background: $black;
  overflow: hidden;

  .prp-area {
    min-width: 10px;
    min-height: 10px;
    position: absolute;
    overflow: hidden;
    font-size: 14px;

    .inner{
      width: 100%;
      height: 100%;
      position: relative;
    }

    // question
    &.questionarea {
      font-size: 2em;

      .inner{
        padding: 0 6%;
      }

      .question {
        padding: 5% 0;
      }

      .answers{
        padding: 0 5%;
        .answer{
          margin-bottom: 1em;

          label{
            cursor: pointer;
          }

          input, span{
            display: block;
          }
          input{
            float: left;
            margin-top: 10px;
          }
          span{
            padding-left: 32px;
          }

        }
      }

      .questionarea-bar{
        position: absolute;
        bottom: 3%;
        right: 2%;
      }

      .prp-question-console{
        position: absolute;
        bottom: 3%;
        left: 2%;
        background: $highlight;
        color: #333;
        padding: 9px 16px;
        opacity: 0;
        transform: translateX(-1000px);
        transition: transform 218ms $swift-out, opacity 418ms $swift-out;
        font-size: 13px;
        box-shadow: 0 0 2px 0 rgba(0,0,0,0.12);

        &.prp-shown{
          transition: transform 218ms $swift-in, opacity 218ms $swift-in;
          opacity: 1;
          transform: translateX(0);
        }
      }

    }


    // video
    &.video {
      background: $black;

      .prp-placeholder{
        width: 100%;
        height: 100%;
        background: #ccc;
        font-size: 5em;
        text-align: center;
      }

      .prp-video-element{
        width: 100%;
        height: 100%;
      }


      .prp-video-preview{
        img{
          position: relative;
        }
      }

    }

    // textarea
    &.textarea,
    &.linkarea,
    &.jumparea{
      .inner{
        padding: 5%;
      }
      .text{
        text-align: left;
        font-size: 1em;
        line-height: 1.25em;
      }
    }

  }

  .prp-action-btn{
    border: 1px solid rgba(0,0,0,.78);
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
    background: rgba(0,0,0,.56);
    border-radius: 2px;
    color: $white;
    cursor: pointer;
    text-align: center;
    &.disabled{
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  .va-wrap{
    display: table;
    .va-middle{
      vertical-align: middle;
      display: table-cell;
    }
  }


}