
.prp-player {
  width: 720px;
  height: 516px;
  position: relative;
  outline: 0;
  text-align: left;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  background: $black;
  font-size: 11px;
  line-height: 1.3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;

  &.prp-player-resized {
    width: 100%;
    height: auto;

    .prp-movie{
      transform-origin: 0 0;
      margin: 0;
    }
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

}

.prp-player-inner {
  width: 100%;
  height: 100%;
}

// movie wrapper
.prp-movie-wrap {
}

.prp-movie {
  position: relative;
  width: 720px;
  height: 480px;
  z-index: 1;
  transform-origin: 50% 50%;
  margin: 0 auto;
}

// movie loader (shown on buffering)
.prp-movie-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  > div {
    width: 100%;
    height: 100%;
  }
}

// controls
.prp-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 109%;
  text-align: left;
  direction: ltr;
  transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
  z-index: 10;
  color: $white;
  background: $black;
  font-family: Roboto, Arial, Helvetica, sans-serif;

  // progress bar
  .prp-progress-bar {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 36px;
    height: 15px;
    cursor: pointer;

    .prp-progress {
      position: absolute;
      z-index: 100;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      transform-origin: 0 0;
      transform: scaleX(0);
      background-color: #f12b24;
      pointer-events: none;
    }
  }

  // control items
  .prp-left-controls,
  .prp-right-controls,
  .prp-btn,
  .prp-exp-status {
    height: 100%;
  }

  .prp-left-controls {
    float: left;
  }
  .prp-right-controls {
    float: right;
  }

  .prp-btn {
    opacity: .9;
    display: inline-block;
    width: 36px;
    transition: opacity .1s cubic-bezier(0.4, 0.0, 1, 1);
    overflow: hidden;
    cursor: pointer;
  }

  // time
  .prp-time-display,
  .prp-exp-status {
    font-size: 109%;
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    white-space: nowrap;
    line-height: 35px;
    color: #eee;
  }

  // exp status
  .prp-exp-status {
    position: relative;

    .prp-exp-counter{
      transform-origin: center center;
      transition: transform 218ms $swift-out;
      transform: scale(1);
      &.prp-update{
        transform: scale(1.05);
      }
    }

    .prp-exp-notifier{
      position: absolute;
      bottom: 100%;
      left: 0;
      color: $white;
      padding: 4px 8px;
      font-size: 12px;
      line-height: 14px;
      border-radius: 4px;
      transform-origin: bottom center;
      transition: transform 218ms $swift-out, opacity 418ms $swift-in;
      transform-style: preserve-3D;
      transform: scale(0) translateY(0);
      opacity: 0;

      &.prp-shown {
        transition: transform 218ms $swift-out, opacity 218ms $swift-in;
        transform: scale(1) translateY(-5px);
        opacity: 1;
      }

      &.prp-earned{
        background: #01B500;
        transition: transform 218ms $swift-out, opacity 218ms $swift-in;
      }

      &.prp-lost{
        background: #f12b24;
      }

    }

  }

  // control bar disabled state
  &.prp-disabled {
    // block pointer events on play/pause and progress bar
    .prp-progress-bar, .prp-left-controls .prp-btn {
      pointer-events: none;
    }
  }

}

// on movie blur
.prp-autohide {

  .prp-controls  {
    opacity: 0;
    transition: opacity .1s cubic-bezier(0.4, 0.0, 1, 1);
  }

}

// btn icons svg
.prp-svg-shadow {
  stroke: #000;
  stroke-opacity: .15;
  stroke-width: 2px;
  fill: none;
}

.prp-svg-fill {
  fill: #fff;
}

// fullscreen animation
.ytp-fullscreen-button {
  transform: translate(0, 0);
}

// video preload area
.prp-preload-area {
  display: none;
}