<!DOCTYPE html>
<html lang="it">
<head>
    <title>Prometeo - Sezione di amministrazione</title>
    <meta name="description" content="Prometeo è un editor di filmati dedicato all'e-learning.">

    <!-- stylesheets, not minified just for dev -->
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/libs/foundation-icons.css" />
    <link rel="stylesheet" href="/css/libs/timeline.css" />
    <link rel="stylesheet" href="/css/libs/hint.min.css" />
    <link rel="stylesheet" href="/js/libs/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="/js/libs/colorpicker/minicolors.css" />
    <link rel="stylesheet" href="/js/libs/pnotify/pnotify.custom.min.css" />
    <link rel="stylesheet" href="/css/admin.main.css" />

</head>
<body>

<!-- admin bar -->
<header class="adminbar">

    <div class="pull-left">

        <div class="logo">
            <div class="prometeo-logo"></div>
        </div>

        <nav class="main-nav">
            <ul>
                <li><a href="/" data-navigo>Tutti i Filmati</a></li>
            </ul>
        </nav>

    </div>

</header>

<!-- page container -->
<main class="main-content">

    <!-- editor -->
    <div id="editor" class="section editor"></div>

    <!-- movies list -->
    <div id="movies_list" class="section movies-list"></div>

</main>

<!-- preloader -->
<div id="main_preloader" class="spinner-wrapper">
    <div class="va-wrap">
        <div class="va-middle">

            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>

            <div class="spinner-intro">
                <svg xmlns="http://www.w3.org/2000/svg" width="380" height="110" viewBox="0 0 380 110"><g fill="#ffffff"><path d="M29.375 32.45h-4.437c-.307-.866-.46-1.67-.46-2.41 0-.535.135-.924.402-1.167.268-.24.707-.363 1.32-.363h15.3c9.563 0 15.996 1.174 19.3 3.52 3.302 2.347 4.953 6.185 4.953 11.515 0 5.534-1.977 9.83-5.93 12.89-3.952 3.062-10.532 4.592-19.738 4.592h-1.95c.05 7.854.152 13.108.306 15.76h5.854c.307.766.46 1.506.46 2.22 0 .637-.13 1.084-.384 1.338-.255.256-.7.383-1.338.383H24.67c-.33-.866-.497-1.67-.497-2.41 0-.535.134-.924.4-1.167.27-.24.71-.362 1.32-.362h3.48c.205-3.544.308-12.636.308-27.274.002-7.83-.1-13.52-.305-17.064zm11.858 23.755c5.61 0 9.538-.803 11.782-2.41 2.244-1.606 3.366-4.322 3.366-8.147 0-3.672-1.058-6.516-3.174-8.53-2.117-2.015-5.585-3.022-10.405-3.022-1.605 0-3.06.128-4.36.383-.203 2.192-.305 7.356-.305 15.49v6.236h3.098zM71.11 44.768c0-.688.268-1.128.803-1.32s3.914-.388 10.137-.592c.153 1.173.153 2.74 0 4.705 2.83-1.912 5.553-3.237 8.167-3.978 2.614-.74 4.992-1.11 7.135-1.11.714 0 1.19.084 1.435.25.242.166.363.53.363 1.09 0 1.097-.172 2.27-.517 3.52-.344 1.25-.76 2.04-1.243 2.37-.484.333-1.288.588-2.41.767s-1.778.216-1.97.113c-.19-.102-.77-.803-1.74-2.104-2.27 0-4.106.72-5.51 2.16-1.402 1.44-2.103 4.342-2.103 8.702.024 7.83.127 13.645.306 17.443h5.394c.306.664.46 1.378.46 2.143 0 .688-.142 1.16-.422 1.415-.28.256-.816.383-1.606.383H71.606c-.332-.815-.498-1.58-.498-2.295 0-.56.14-.975.42-1.242.28-.27.74-.402 1.377-.402h2.64c.204-3.8.307-8.772.307-14.918 0-7.523-.294-11.884-.88-13.083-.587-1.198-1.71-1.798-3.366-1.798-.333-.715-.5-1.454-.5-2.22zM119.844 81.49c-5.533 0-9.6-1.466-12.202-4.398s-3.902-7.357-3.902-13.274c0-6.81 1.575-12.1 4.725-15.875 3.15-3.773 7.695-5.66 13.638-5.66 5.533 0 9.602 1.466 12.202 4.398 2.602 2.934 3.902 7.37 3.902 13.313 0 6.784-1.575 12.063-4.725 15.837-3.15 3.774-7.696 5.66-13.638 5.66zm1.454-5.126c2.907 0 5.01-1.096 6.312-3.29s1.95-5.57 1.95-10.137c0-5.253-.67-9.154-2.008-11.705-1.34-2.55-3.64-3.825-6.904-3.825-2.907 0-5.01 1.097-6.312 3.29s-1.95 5.585-1.95 10.175c0 5.23.67 9.117 2.008 11.667 1.338 2.55 3.64 3.824 6.904 3.824zM179.558 56.243c0 10.687.09 17.533.268 20.542h4.055c.332.664.498 1.378.498 2.143 0 .688-.14 1.16-.42 1.415-.28.256-.83.383-1.646.383H168.81c-.308-.815-.46-1.58-.46-2.295 0-.56.134-.975.4-1.242.27-.27.733-.402 1.397-.402h1.3c.18-3.748.27-8.99.27-15.722 0-5.253-.556-8.747-1.665-10.48-1.11-1.734-2.9-2.603-5.375-2.603-1.606 0-3.182.6-4.724 1.8-1.544 1.198-2.314 3.354-2.314 6.464v8.072c0 4.514.088 8.67.267 12.47h3.1c.305.664.458 1.378.458 2.143 0 .687-.14 1.16-.42 1.414-.282.256-.817.383-1.607.383h-13.886c-.332-.815-.498-1.58-.498-2.295 0-.56.14-.976.42-1.243.28-.27.74-.403 1.378-.403h2.64c.204-4.055.307-9.027.307-14.918 0-7.524-.295-11.885-.88-13.084-.588-1.198-1.71-1.798-3.367-1.798-.332-.714-.498-1.453-.498-2.22 0-.687.27-1.127.804-1.318s3.913-.39 10.136-.593c.153 1.173.153 2.678 0 4.514 2.525-1.683 4.954-2.92 7.287-3.71 2.334-.79 4.495-1.186 6.484-1.186 2.524 0 4.463.44 5.814 1.32s2.27 1.995 2.755 3.347c2.296-1.555 4.597-2.722 6.905-3.5 2.308-.777 4.43-1.166 6.37-1.166 3.136 0 5.564.784 7.286 2.353s2.582 4.56 2.582 8.97c0 13.72.197 20.99.593 21.805.397.816 1.308 1.212 2.736 1.186.28.74.42 1.48.42 2.22 0 .687-.217 1.146-.65 1.376-.434.23-1.236.345-2.41.345-3.544 0-5.712-.045-6.502-.135-.79-.09-1.326-.356-1.606-.804-.28-.444-.42-1.19-.42-2.236v-16.49c0-5.254-.556-8.748-1.665-10.482-1.11-1.733-2.9-2.602-5.375-2.602-1.606 0-3.182.6-4.724 1.8-1.546 1.198-2.316 3.353-2.316 6.463zM230.28 42.28c4.744 0 8.264 1.123 10.56 3.367s3.44 5.942 3.44 11.094c0 2.27-.407 3.852-1.223 4.744-.816.893-2.602 1.34-5.355 1.34h-16.908c.05 4.156.886 7.42 2.506 9.792 1.62 2.37 4.48 3.558 8.588 3.558 3.825 0 7.383-.995 10.673-2.984 1.097 1.097 1.646 2.257 1.646 3.48 0 1.71-1.41 2.908-4.227 3.597-2.82.688-6 1.033-9.546 1.033-6.528 0-11.214-1.384-14.058-4.15-2.844-2.768-4.266-7.428-4.266-13.982 0-6.45 1.6-11.546 4.8-15.28 3.2-3.74 7.658-5.607 13.37-5.607zm-1.453 5.127c-2.55 0-4.488.912-5.814 2.735s-2.053 4.673-2.18 8.55h3.94c4.182 0 7.03-.083 8.55-.25 1.516-.165 2.395-.44 2.64-.82.24-.384.362-1.098.362-2.144 0-2.524-.638-4.5-1.913-5.93-1.275-1.427-3.137-2.14-5.585-2.14zM252.964 43.237h2.602l3.1-10.863c1.07.33 1.98.727 2.734 1.186.752.46 1.307 1 1.664 1.626.356.625.535 2.786.535 6.483v1.567h12.584c.307.842.46 1.734.46 2.678 0 .74-.14 1.23-.422 1.473-.28.243-.84.363-1.683.363H263.6v18.095c0 4.31.395 7.147 1.185 8.512s1.982 2.085 3.577 2.16c1.594.078 3.55-.444 5.872-1.567.56.842.84 1.76.84 2.754 0 1.353-.744 2.258-2.236 2.717s-3.845.69-7.058.69c-3.494 0-6.038-.715-7.632-2.144-1.594-1.428-2.39-4.093-2.39-7.995v-8.988c0-4.896-.142-9.64-.422-14.23h-3.75c-.305-.918-.458-1.81-.458-2.678 0-.637.14-1.103.42-1.396.28-.293.753-.44 1.416-.44zM300.246 42.28c4.743 0 8.263 1.123 10.558 3.367s3.442 5.942 3.442 11.094c0 2.27-.408 3.852-1.224 4.744-.816.893-2.602 1.34-5.355 1.34H290.76c.05 4.156.885 7.42 2.505 9.792 1.62 2.37 4.48 3.558 8.588 3.558 3.825 0 7.383-.995 10.673-2.984 1.096 1.097 1.645 2.257 1.645 3.48 0 1.71-1.408 2.908-4.226 3.597-2.818.688-6 1.033-9.545 1.033-6.53 0-11.215-1.384-14.06-4.15-2.843-2.768-4.265-7.428-4.265-13.982 0-6.45 1.6-11.546 4.8-15.28 3.2-3.74 7.658-5.607 13.37-5.607zm-1.454 5.127c-2.55 0-4.488.912-5.814 2.735s-2.053 4.673-2.18 8.55h3.94c4.182 0 7.03-.083 8.55-.25 1.516-.165 2.395-.44 2.64-.82.24-.384.362-1.098.362-2.144 0-2.524-.638-4.5-1.913-5.93-1.275-1.427-3.137-2.14-5.585-2.14zM337.465 81.49c-5.533 0-9.6-1.466-12.202-4.398s-3.902-7.357-3.902-13.274c0-6.81 1.576-12.1 4.726-15.875 3.15-3.773 7.695-5.66 13.638-5.66 5.533 0 9.602 1.466 12.202 4.398 2.602 2.934 3.902 7.37 3.902 13.313 0 6.784-1.575 12.063-4.725 15.837-3.15 3.774-7.696 5.66-13.638 5.66zm1.454-5.126c2.906 0 5.01-1.096 6.31-3.29s1.952-5.57 1.952-10.137c0-5.253-.67-9.154-2.01-11.705-1.338-2.55-3.64-3.825-6.903-3.825-2.908 0-5.012 1.097-6.313 3.29s-1.95 5.585-1.95 10.175c0 5.23.67 9.117 2.008 11.667 1.34 2.55 3.64 3.824 6.904 3.824z"></path></g></svg>
            </div>

        </div>
    </div>
</div>

<!-- scripts -->
<script>
    window.nodeRequire = require;
    delete window.require;
    delete window.exports;
    delete window.module;
</script>
<!--<script src="/vrview/build/vrview.js"></script>-->
<script src="http://127.0.0.1:8080/build/vrview.js"></script>
<script data-main="/js/app" src="/js/libs/requirejs.min.js"></script>
</body>
</html>

