<!DOCTYPE html>
<html lang="it">
<head>
    <title>Prometeo - Errore</title>
    <meta name="description" content="Prometeo è una piattaforma di e-learning, scopri nuove video lezioni ogni giorno!">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css" />
</head>
<body>

    <div class="hero text-center">
        <h1>Pagina non trovata</h1>
        <p>Questa pagina potrebbe essere stata eliminata o non essere mai esistita</p>
        <p>
            <a href="/" class="btn btn-primary">Torna all'Homepage</a>
        </p>
    </div>

</body>
</html>


